<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EnterScore</title>
    <link rel="icon" href="~/sport_template-master/images/favicon.png">
    <link rel="stylesheet" href="~/sport_template-master/css/style.css">


	
	<link rel="shortcut icon" href="~/HTML/images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="~/HTML/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="~/HTML/images/apple-touch-icon-114x114.png">


	<link rel="stylesheet" type="text/css" href="~/HTML/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="~/HTML/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/HTML/css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="~/HTML/css/owl.theme.css">
	<link rel="stylesheet" type="text/css" href="~/HTML/css/magnific-popup.css">


	
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

	
	<link rel="stylesheet" type="text/css" href="~/HTML/css/style.css" />



	<script type="text/javascript" src="~/HTML/js/modernizr.min.js"></script>






</head>