<div class="player-performances">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="player-states">
                    <h1 class="before">Oyuncu <b>İstatiskileri</b></h1>
                    <div class="skillst1">
                        <div class="skillbar-items">
                            <div class="title">Genel</div>
                            <div class="skillbar progress" data-percent="24%">
                                <div class="count"></div>
                                <div class="count-bar progress-bar progress-bar-striped"></div>
                            </div>
                        </div>
                        <div class="skillbar-items">
                            <div class="title">Atak</div>
                            <div class="skillbar progress" data-percent="82%">
                                <div class="count"></div>
                                <div class="count-bar progress-bar progress-bar-striped"></div>
                            </div>
                        </div>
                        <div class="skillbar-items">
                            <div class="title">Defans</div>
                            <div class="skillbar progress" data-percent="40%">
                                <div class="count"></div>
                                <div class="count-bar progress-bar progress-bar-striped"></div>
                            </div>
                        </div>
                        <div class="skillbar-items">
                            <div class="title">Disiplin</div>
                            <div class="skillbar progress" data-percent="64%">
                                <div class="count"></div>
                                <div class="count-bar progress-bar progress-bar-striped"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="player-states">
                    <h1 class="before">Oyuncu <b>Performansı</b></h1>
                    <div class="player-performance-inner player-performance">
                        <div class="circle-proggress-items">
                            <div id="demo-pie-1" class="pie-title-center" data-percent="56"> <span class="pie-value"></span> </div>
                            <span class="progress-content"><B>Kazanılan Oyun</B></span>
                        </div>
                        <div class="circle-proggress-items">
                            <div id="demo-pie-2" class="pie-title-center" data-percent="64"> <span class="pie-value"></span> </div>
                            <span class="progress-content"><B>Maç Aktivitesi</B></span>
                        </div>
                        <div class="circle-proggress-items">
                            <div id="demo-pie-3" class="pie-title-center" data-percent="38"> <span class="pie-value"></span> </div>
                            <span class="progress-content"><B>Genel Performansı</B></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>